<section id="about" class="section scroll-m-20 w-full mx-auto container lg:max-w-4xl md:max-w-2xl mb-20">
  <h2 class="flex items-center mb-5 text-3xl font-semibold gap-x-3 text-black/80 dark:text-white">
    <app-icon-user size="30"></app-icon-user>
    Sobre mí
  </h2>

  <article class="flex flex-col md:flex-row gap-6 md:gap-10
  md:items-center items-center text-gray-700 dark:text-gray-300">
    <!-- Imagen (en móviles aparece arriba) -->
    <img src="assets/me.jpg" alt="Marmota Dev"
  class="object-cover w-40 h-40 md:size-60 p-1 lg:p-1 rounded-2xl
   bg-black dark:bg-purple-600 ring-1 dark:ring-white/20
   md:max-w-xs md:self-center order-1 md:order-2 aspect-square
   rotate-3 md:rotate-6"
   style="object-position: 50% 50%">

    <!-- Texto (pegado a la izquierda) -->
    <div class="w-full  order-2 md:order-1 [&>p]:mb-4 text-lg dark:text-gray-300
       text-gray-800 font-medium [&>p>strong]:text-purple-500 [&>p>strong]:dark:text-purple-400">
       <p>Me fascina el mundo de la programación desde que estaba en primaria, y
        aunque en ese tiempo era por los videojuegos,
        esa curiosidad fue evolucionando hasta el día de hoy que me dedico al <strong>fullstack</strong>.
        </p>
        <p>Considero increíble el mundo de la programación, ya que es una forma de crear única, lo que imagines
        se puede programar de una forma u otra, es como darle herramientas a la imaginación.</p>
        <p>En mis ratos libres me gusta curiosear sobre las nuevas tecnologías que salen, también <strong>dibujo</strong> y
        <strong>escribo historias</strong>, además de planificar próximos proyectos que tengo en mente.
        </p>
        </div>
  </article>
</section>
