<section id="contact" class="section py-20 pb-40 md:py-26 scroll-m-20 w-full mx-auto max-w-3xl"> <!-- Ajustado max-w-4xl -->
  <div class="max-w-xl">
    <div class="relative">
      <img class="size-16 rounded-full mb-4" src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3b/Marmot-edit1.jpg/1200px-Marmot-edit1.jpg" alt="raul-img">
      <span class="top-0 left-12 absolute w-4 h-4 bg-green-400 border-2 border-white dark:border-gray-800 rounded-full"></span>
    </div>

    <h1 class="text-3xl sm:text-5xl font-bold tracking-tight text-gray-800 dark:text-white">
      Hola! Soy Raul Gutierrez
    </h1>

    <h2 class="text-2xl sm:text-3xl tracking-tight dark:text-purple-400 text-purple-500
     [&>strong]:text-purple-400 [&>strong]:font-semibold font-semibold" >
      Fullstack Developer
    </h2>

    <p class="mt-5 text-xl text-gray-800 dark:text-gray-300 [&>strong]:font-semibold
      [&>strong]:text-purple-500 [&>strong]:dark:text-purple-400" >
      Egresado de UABC Mexicali con experiencia en el desarrollo de <strong>paginas web, software y analisis de datos</strong>.
    </p>

    <nav class="flex flex-wrap gap-x-3 gap-y-3 mt-8">
      <app-icon-socialpill href="https://www.linkedin.com/in/raul-alejandro-gutierrez-hernandez-06317834a/">
        <app-icon-linkedin size="20"></app-icon-linkedin>
        LinkedIn
      </app-icon-socialpill>
      <app-icon-socialpill href="https://github.com/RaulHernandez19">
        <app-icon-github></app-icon-github>
        Github
      </app-icon-socialpill>
      <app-icon-socialpill href="assets/Español-CV-RaulAlejandroGutierrezHernandez.pdf">
        <app-icon-cv></app-icon-cv>
        Curriculum
      </app-icon-socialpill>
      <app-icon-socialpill href="mailto:raul.gutierrez19@uabc.edu.mx.com">
        <app-icon-correo ></app-icon-correo>
        Correo
      </app-icon-socialpill>
    </nav>
  </div>
</section>
